---
import "../styles/main.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div class="container"></div>
	</body>

	<!-- <script src="/src/scripts/main.js"></script> -->
	<script>
		import "/src/scripts/main.js";
	</script>
</html>